.cModalBody > .carousel .carousel-slider {
  margin-left: 10px !important;
}

.cModalBody > .carousel .slider-wrapperr {
  width: 38vw !important;
}

.secDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  gap: 50px;
}

.cModalBody {
  padding: 0px 10px;
}
