@import '../node_modules/prismjs/themes/prism-tomorrow';
@import './assets/scss/app.scss';

.h-20 {
  height: 40px;
}

.toolTip-1 {
  width: auto;
}

.myCareerAspiration_input:disabled {
  background-color: #e1e1e1;
}
