@import '../../../../@core/scss/base/bootstrap-extended/variables';
@import '../base';
h2 {
  font-size: 24px;
  font-family: $font-family-sans-serif-bold, $font-family-monospace-bold;
  color: #333333;
}
.careerTracks {
  display: grid;
  justify-items: start;
  width: 100%;
  background-color: white;
  border-radius: 28px;
  padding: 32px;
  gap: 20px;
  color: $color-primary;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2 {
    font-size: 24px;
    color: black;
    font-family: $font-family-sans-serif-bold, $font-family-monospace-bold;
    color: #333333 !important;

    @media only screen and (max-width: 501px) {
      font-size: 20px;
    }
  }

  // @media only screen and (max-width: 600px) {
  //   width: 80vw;
  // }

  @media only screen and (max-width: 573px) {
    justify-items: center;
  }

  &_div {
    display: grid;
    width: 100%;
    gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));

    @media only screen and (max-width: 1430px) {
      grid-template-columns: repeat(auto-fit, minmax(187px, 1fr));
    }

    @media only screen and (max-width: 1254px) {
      grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    }

    &-card {
      display: grid;
      width: 100%;
      height: auto;
      grid-template-rows: 250px 60px;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
        rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      &-img {
        width: 100%;
        height: 100%;
        // border-radius: 16px;
        object-fit: cover;
        min-height: 188px;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
      }

      h5 {
        height: 100%;
        text-align: center;
        color: #333333;
        display: grid;
        text-transform: capitalize;
        align-items: center;
        font-family: $font-family-monospace-bold, $font-family-sans-serif-bold;
      }
    }

    @media only screen and (min-width: 1525px) {
      grid-template-columns: repeat(5, minmax(198px, 1fr));
    }
  }

  &_btn {
    justify-self: end;
    background-color: #0077b9 !important;
    // padding: 16px 32px !important;
    border-radius: 10px !important;
    height: 41px !important;
    width: 178px !important;
    border: none;
    color: white;

    &:hover {
      box-shadow: 0 8px 25px -8px #82868b;
    }

    @media only screen and (max-width: 501px) {
      height: 40px !important;
      width: 140px !important;
      font-size: 12px !important;
      padding: 0 !important;
      border-radius: 8px !important;
    }
  }
}
